@font-face {
	font-family: 'Marat Sans Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Marat Sans Regular'), url('Marat Sans Regular.woff') format('woff');
}
@font-face {
	font-family: 'Marat Sans Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Marat Sans Medium'), url('Marat Sans Medium.woff') format('woff');
}

html {
	font: Marat Sans Medium, Georgia, 'Times New Roman', Times, serif;
}
body {
	background: #fff3e4;
	padding: 0;
	margin: 0;
}

.royale_header {
	position: relative;
	margin: 0 auto;
	background: #000000;
	width: 100%;
	height: 2em;
	max-height: 4em;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	color: #db8f0c;
	font-size: 2em;
}
.royale_header span {
	position: absolute;
	margin: 0.4em 0 auto auto;
	padding-left: 1em;
}
.royale_header img {
	margin: 0 0 auto -6em;
}
.main_wrapper {
	background-color: #fff3e4;
	max-width: 60%;
	margin: 1em auto;
}
.body_header h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 4em;
}
.body_header h2 {
	padding-left: 7em;
	margin: 0 4em auto;

	font-weight: 100;
}
.breaker {
	display: flex;
	margin: 1em auto;
	width: 70%;
	height: 1px;
	border: 1px solid #000000;
	border-radius: 3.5px;
	background-color: #000000;
}
.body_document {
	font-size: 20px;
}
.div_img {
	margin: 1em auto;
	max-width: fit-content;
	max-width: min-content;
}
.content span {
	font-weight: 1000;
}
.content {
	padding-left: 9em;
	font-weight: 300;
	font-size: 1.25em;
}
.content-footer {
	margin: 0 auto;
	max-width: inherit;
	font-size: 1.25em;
	padding: 1em;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 3em;
}
a {
	color: rgb(219, 143, 12);
	text-decoration: none;
}

.subtitle {
	padding: 1em;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: underline rgba(219, 143, 12, 0.85);
}
.sub-subtitle {
	text-decoration: none;
	font-weight: normal;
}

ul {
	padding-top: 0.25em;
}

.title-fragment span {
	font-size: 2em;
	background: rgba(219, 143, 12, 0.85);
	padding: 0.1em;
	padding-right: 1em;
}

table {
	border-collapse: collapse;
	font-size: 1em;
}
th {
	border: 1px solid black;
	margin: 0;
	padding: 0.5em;
	font-weight: 300;
}

#amenazas {
	margin-top: 1em;
	padding: 0;
}
#table_header {
	background-color: rgba(219, 143, 12, 0.5);
	font-weight: bold;
}
#amenazas_diff {
	background-color: ivory;
}
